<div class="details-container">
    <mat-card class="details-card">
        <mat-card-content>
            <div class="details-content">
                <div class="details-item">
                    <span class="details-label">Login:</span>
                    <mat-chip class="details-value">{{detailsKeyStore.login}}</mat-chip>
                </div>
                <div class="details-item">
                    <span class="details-label">Password:</span>
                    <mat-chip class="details-value">{{detailsKeyStore.password}}</mat-chip>
                </div>
                <div class="details-item">
                    <span class="details-label">WebPlatform:</span>
                    <mat-chip class="details-value">{{detailsKeyStore.webplatform}}</mat-chip>
                </div>
                <div class="details-item">
                    <span class="details-label">User Name:</span>
                    <mat-chip class="details-value">{{detailsKeyStore.userstore.name}}</mat-chip>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
