/*Home css Student_ID_ 00013712*/
.m-4{
  width: 100%;
}
.actions-cell {
  display: flex;
  justify-content: space-between;
}
.delete-button {
  background-color: red !important; 
  color: white !important;
  font-size: 14px; 
}
.edit-button {
  background-color: #265e9e !important; 
  color: white !important;
  font-size: 14px 
}

.details-button {
  background-color:forestgreen !important; 
  color: white !important;
  font-size: 14px;
}


